.container {
    text-align: center;
    margin-top: 23px;
}

table {
    margin: auto;
}

input {
    border-radius: 21px;
    border: 5px solid #000000;
    font-size: 34px;
    height: 65px;
    width: 456px;
}

button {
    border-radius: 20px;
    font-size: 40px;
    width: 102px;
    height: 90px;
    margin: 6px;
}

.calculator {
    border: 4px solid #000000;
    background-color: #5bbbfc;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}

h1 {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

/* New styles for buttons */
button.b0 {
    background-color: #ff0000; /* New color for % button */
}

button.b1 {
    background-color: #ff0000; /* New color for % button */
}

button.b2 {
    background-color: #ff0000; /* New color for X button */
}

button.b3 {
    background-color: #ff0000; /* New color for - button */
}

button.b4 {
    background-color: #ff0000; /* New color for - button */
}

button.b5 {
    background-color: #ff0000; /* New color for - button */
}

button.b6 {
    background-color: #ff0000; /* New color for - button */
}