/* Write CSS Here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(100, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 60%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 0px;
	display: grid;
	grid-template-columns: 3fr 5fr;
}
.left {
	position: initial;
	background-color: #87CEEB;
	padding: 30px;

}
.right {
	position: initial;
	background-color: rgb(162, 202, 206);
	padding: 40px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}

